---
BasedOnStyle: GNU
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: WithoutElse
FixNamespaceComments: true
IndentWidth: 4
PointerAlignment: Left
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpaceBeforeParens: Never
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
