---
BasedOnStyle: GNU
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: WithoutElse
FixNamespaceComments: true
IndentWidth: 4
PointerAlignment: Left
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpaceBeforeParens: ControlStatements
ConstructorInitializerIndentWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 120
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: CurrentLine
